.small_top_redirect {
    float: right;
    font-size: 75%;
    position: relative;
    top: -20px;
}

.footer_register_redirect {
    border-top: 1px solid #888;
    padding-top: 15px;
    font-size: 85%;
}

.main_panel {
    margin-top: 50px;
}

.input-group {
    margin-bottom: 15px;
}

.login_body_panel {
    padding-top: 30px;
    padding-bottom: 0px;
}

.login_button {
    margin-top: 10px;
    float: right;
}

.remember_checkbox {
    float: left;
}